html, body {
	background: #e3e3e3;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Microsoft Yahei";
	margin: 0;
	padding: 0;
}

div.container {
	width: 960px;
}

div#wrapper {
	background-color: #fff;
	font-size: 13px;
	margin: 10px auto;
}

div#wrapper div#header {
	background-color: #2c7372;
	border: 1px solid #5c6ab5;
	box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
	padding: 10px 30px;
}

div#wrapper div#header div.span8 {
	padding-top: 10px;
	text-align: right;
}

div#wrapper div#header div.span8 button {
	background: transparent;
	color: #fff;
	outline: none;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}

div#wrapper div#content {
	padding: 80px 30px 40px;
}

div#wrapper div#content div.span3 div#logo {
	text-align: right;
}

div#wrapper div#content div.span8 {
	border-left: 1px solid #ccc;
}

div#wrapper div#content div.span8 div#main-content {
	padding-left: 40px;
}

div#wrapper div#content div.span8 div#main-content p.tip {
	margin-top: 20px;
	color: #666;
}

div#footer {
	color: #666;
	font-size: 13px;
}

div#footer a {
	color: #666;
	text-decoration: none;
}

div#footer div.span4 {
	text-align: right;
}

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div.container {
		width: 768px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div.container {
		padding-top: 0;
	}

	div#wrapper div#content {
		padding: 0 30px 40px;
	}

	div#wrapper div#content div.span3 div#logo {
		display: none;
	}

	div#wrapper div#content div.span8 {
		border-left: none;
	}

	div#content div.span8 div#main-content {
		padding-top: 20px;
		padding-left: 0; 
	}

	div#footer div.span4, 
	div#footer div.span8 {
		text-align: center;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.container {
		width: 480px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div.container {
		width: 320px;
	}
}
