div#hero {
	background-color: #404040;
	overflow: hidden;
	height: 270px;
}

div#hero div#profile-card {
	color: #fff;
	text-align: center;
	padding: 40px 0 40px;
	width: 260px;
}

div#hero div#profile-card p {
	font-size: 12px;
	margin-bottom: 0;
}

div#hero div#cover {
	width: 480px;
}

div.block {
	background: #fff;
	border: 1px solid #d8d8d8;
	border-top-width: 5px;
	border-bottom-width: 2px;
	float: left;
	margin: 10px 0 20px;
	padding: 20px;
	width: 318px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

div.block.right {
	margin-left: 20px;
}

div.block > h2 {
	margin-bottom: 20px;
}

div.block > h2 > span.edit {
	float: right;
	font-size: 12px;
	font-weight: normal;
}

div.block > h2 > span.edit > a {
	text-decoration: none;
}

div.block div.span4 {
	font-weight: bold;
}

div.block p.tip {
	color: #666;
	font-size: 12px;
}

div#basic-block.block {
	border-top-color: #76a7fa;
}

div#tip-block {
	background-color: #e49307;
	border: none;
	color: #fff;
	min-height: 207px;
}

div#security-block {
	border-top-color: #4dbfd9;
}

div#contact-block.block {
	border-top-color: #e46f61;
}
