div#content {
	padding-top: 20px;
	width: 1200px;
}

div#content div#sidebar {
	background-color: #f5f5f5;
	border-bottom: 1px solid #d8d8d8;
	margin-top: 10px;
}

div#content div#sidebar div#filter {
	padding: 10px;
}

div#content div#sidebar div#filter input {
	padding: 5px;
	width: 200px;
}

div#content div#sidebar div#filter p {
	color: #666;
	font-size: 12px;
}

div#content div#main-content div.profile {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top-width: 0;
	float: left;
	margin: 0 20px 20px 0;
	overflow: hidden;
	height: 350px;
	width: 190px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

div#content div#main-content div.profile div.introduction {
	color: #666;
	font-size: 13px;
	padding: 0 10px 10px;
}

div#content div#main-content div.profile div.introduction h2 {
	color: #333;
}

div#content div#main-content div.profile div.introduction a {
	color: #666;
	text-decoration: none;
}

div#content div#main-content div.profile div.introduction div.location {
	margin-bottom: 15px;
}

div#content div#main-content div.profile div.introduction span.company,
div#content div#main-content div.profile div.introduction span.email,
div#content div#main-content div.profile div.introduction span.mobile {
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
	height: 20px;
}

div#content div#main-content div.profile div.introduction span.email i,
div#content div#main-content div.profile div.introduction span.email a {
	display: block;
	float: left;
}

div#content div#main-content div.profile div.introduction span.email a {
	margin-left: 5px;
	width: 150px;
}

/* Smaller than standard 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
}

/* Portrait size to standard 1200 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	div#content {
		width: 960px;
	}

	div#content div#sidebar div#filter input {
		width: 150px;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div#content {
		width: 768px;
	}

	div#content div#sidebar div#filter input {
		width: 100px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div#content {
		width: 480px;
	}

	div#content div#sidebar div#filter input {
		width: 410px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div#content {
		width: 320px;
	}

	div#content div#sidebar div#filter input {
		width: 250px;
	}
}