div#content {
	width: 740px;
}

div#hero {
	background-color: #404040;
}

div#hero div#profile-card {
	color: #fff;
	text-align: center;
	padding: 40px 0;
}

div#hero div#profile-card p {
	font-size: 12px;
	margin-bottom: 0;
}

div.block {
	background: #fff;
	border: 1px solid #d8d8d8;
	border-top-width: 5px;
	border-bottom-width: 2px;
	float: left;
	margin: 10px 0 20px;
	padding: 20px;
	width: 318px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

div.block.right {
	margin-left: 20px;
}

div.block > h2 {
	margin-bottom: 20px;
}

div.block > h2 > span.edit {
	float: right;
	font-size: 12px;
	font-weight: normal;
}

div.block > h2 > span.edit > a {
	text-decoration: none;
}

div.block div.span4 {
	font-weight: bold;
}

div.block p.tip {
	color: #666;
	font-size: 12px;
}

div#basic-block.block {
	border-top-color: #76a7fa;
}

div#tip-block {
	background-color: #e49307;
	border: none;
	color: #fff;
	min-height: 207px;
}

div#security-block {
	border-top-color: #4dbfd9;
}

div#contact-block.block {
	border-top-color: #e46f61;
}

div.modal {
	position: fixed;
}

div.modal-body div.span4 {
	font-weight: bold;
	padding-top: 4px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#hero div#profile-card {
		background: #fff;
		color: #333;
	}

	div.block.right {
		margin-left: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div#content {
		width: 480px;
	}

	div.block {
		width: 440px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div#content {
		width: 320px;
	}

	div.block {
		width: 280px;
	}
}
