html, body {
	background-color: #e5e5e5;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Microsoft Yahei";
	margin: 0;
	padding: 0;
}

.icon {
	background-image: url('../img/dashicon.png');
	background-size: 536px 341px;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

div.position-icon {
	background-image: url('../img/ribbon-nav-1x.png');
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
	height: 20px;
	width: 20px;
}

div.icon-dashboard {
	background-position: -40px -60px;
}

div.icon-profile {
	background-position: -36px -40px;
}

div.icon-people {
	background-position: 0 0;
}

div.icon-photos {
	background-position: -20px -60px;
}

div.icon-activity {
	background-position: -44px -100px;
}

div.icon-votes {
	background-position: -40px -20px;
}

div.icon-hangouts {
	background-position: -20px 0;
}

div.position-name {
	color: #737373;
	float: left;
	font-size: 14px;
	margin: 0 4px;
	vertical-align: bottom;
}

div.dropdown {
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	z-index: 1;
}

div.dropdown-shadow {
	border-color: transparent;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(0,0,0,.2);
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: absolute;
	height: 0;
	width: 0;
	z-index: 1;
}

div#header {
	background-color: #fff;
}

div#header div#logo img {
	padding: 10px 20px;
}

div#header div#search div.input-append {
	padding-top: 20px;
	width: 100%;
}

div#header div#search div.input-append input {
	border-radius: 0px;
	height: 22px;
	width: 75%;
}

div#header div#search div.input-append i.icon-search {
	background-position: -466px -213px;
}

div#header div#notification {
	text-align: right;
}

div#header div#notification ul.inline {
	padding: 20px 40px 0 0;
}

div#header div#notification ul.inline > li {
	position: relative;
	z-index: 128;
}

div#header div#notification ul.inline li a {
	color: #666;
	text-decoration: none;
}

div#header div#notification ul.inline li img.img-circle {
	max-width: 32px;
}

div#header div#notification i.icon {
	opacity: .55;
	filter: alpha(opacity=55);
}

div#header div#notification i.icon-grid {
	background-position: -431px -247px;
}

div#header div#notification i.icon-alert {
	background-position: -497px -282px;
}

div#header div#notification div#profile {
	background-color: #f5f5f5;
    border: 1px solid #bebebe;
    display: none;
	position: absolute;
	top: 45px;
	right: 5px;
    text-align: left;
    z-index: 128;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    		box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

div#header div#notification div#profile div.dropdown {
	left: 225px;
	top: -8px;
}

div#header div#notification div#profile div.dropdown-shadow {
	left: 225px;
	top: -9px;
}

div#header div#notification div#profile div.row-fluid {
    background: #fff;
    border-bottom: 1px solid #bebebe;
    width: 260px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
}

div#header div#notification div#profile div.row-fluid div.span4 img {
	padding: 10px;
	max-width: 100%;
}

div#header div#notification div#profile div.row-fluid div.span8 {
    color: #666;
    font-size: 13px;
}

div#header div#notification div#profile div.row-fluid div#user-info {
    padding: 10px;
}

div#header div#notification div#profile div.row-fluid div.span8 button {
    margin-top: 10px;
}

div#header div#notification div#profile div#sign-out {
    padding: 8px 16px 8px 16px;
    text-align: right;
}

div#navigation-bar {
	background-color: #f5f5f5;
	position: relative;
	height: 45px;
	z-index: 64;
}

div#navigation-bar.fixed {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	   -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
			box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

div#navigation-bar div#icon {
	background-image: url('../img/ribbon-nav-1x.png');
	background-repeat: no-repeat;
	background-position: 0 -100px;
	float: left;
	margin-left: -44px;
	height: 44px;
	width: 44px;
	-webkit-transition: margin-left .15s linear;
			transition: margin-left .15s linear;
}

div#navigation-bar div#position {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	float: left;
	padding: 2px 5px 6px 8px;
	margin: 7px 0 7px 30px;
}

div#navigation-bar div#position div.slide-down {
	background-image: url('../img/ribbon-nav-1x.png');
	background-repeat: no-repeat;
	background-position: -20px -40px;
	display: inline-block;
	*display: inline;
	padding-bottom: 2px;
	height: 16px;
	width: 16px;
	vertical-align: bottom;
	zoom: 1;
}

div#navigation-sidebar {
	background: #fff;
	display: none;
	position: fixed;
	top: 68px;
	left: 0;
	width: 216px;
	height: 100%;
	overflow: auto;
	z-index: 256;
}

div#container div#navigation-sidebar a {
	color: #737373;
	text-decoration: none;
}

div#navigation-sidebar div.nav-item {
	margin-right: 8px;
	overflow: hidden;
	padding: 12px 0px 12px 32px;
}

div#navigation-sidebar div.nav-item:hover {
	background-color: #eee;
}

div.nav-item.border-bottom {
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
}

div#navigation-sidebar div#footer {
	color: #aaa;
	font-size: 11px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	margin-bottom: 72px;
	width: 100%;
}

div#footer a {
	color: #aaa;
	text-decoration: none;
}

div#footer a:hover {
	color: #427fed;
}

div#footer div#copyright {
	border-top: 1px solid #e5e5e5;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

div#notify-widget-panel {
	position: absolute;
	top: 124px;
	text-align: center;
	width: 100%;
}

div#notify-widget-panel div#message {
	background: #fff1a8;
	border-color: #fff1a8;
	color: #000;
	font-size: 13px;
	height: 24px;
	margin: 0 auto;
	padding: 6px 12px 3px;
	width: 200px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
			box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

div#content {
	margin: 0 auto;
	-webkit-transition: margin-right .15s cubic-bezier(0,1.12,.39,.98);
	transition: margin-right .15s;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	div#header div#logo,
	div#header div#search,
	div#header div#notification {
		text-align: center;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#header div#search div.input-append input {
		max-width: 320px;
	}

	div#header div#notification div#profile div.dropdown,
	div#header div#notification div#profile div.dropdown-shadow {
		left: 125px;
	}

	div#header div#notification div#profile div.span4 {
		display: none;
	}

	div#header div#notification div#profile div.row-fluid {
		width: 160px;
	}

	div#navigation-sidebar {
		top: 196px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
